cloud_id                 = "b1xxxxxxxxxxxxxxxxfo"
folder_id                = "b1xxxxxxxxxxxxxxxx1r"
service_account_key_file = "./.secrets/key.json"
public_key_path          = "~/.ssh/yc.pub"
private_key_path         = "~/.ssh/yc"
image_id                 = "fdxxxxxxxxxxxxxxxxcj"
subnet_id                = "e9xxxxxxxxxxxxxxxxiv"
